<h1>NEW USER</h1>

<br />

<%= form_for(@user) do |f| %>
  <% f.label :name %>
  <%= f.text_field :name, placeholder: "Name" %>

  <%= render "shared/user_form", f: f %>

  <%= link_to "sign in", new_session_path, class: "signup_btn" %>
  <%= f.submit "Sign Up" %>
  
<% end %>