<h1>USER PAGE</h1>

<p>Hello <%= @user.name %> | <%= link_to "Log out", session_path("current"), :method => :delete %> </p>
<p>E-mail: <%= @user.email %></p>

<%= link_to "Edit account details", edit_user_path(@user)%>

<br />

<% if @user.reservations.length > 0 %>
  <h3>Your Reservations:</h3>
  <%= render "shared/user_reservations", reservations: @reservations %>
<% end %>

<% if @user.restaurants.length > 0 %>
  <h3>Your Restaurants:</h3>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= restaurant.name %> | <%= link_to "More Info", edit_restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
<% end %>

<br />
<br />
<br />
<%= link_to "Add New Restaurant", new_restaurant_path(@user)%>