<h1>RESTAURANT VIEW (INDEX LIST)</h1>

<form action="/restaurants" method="get">
  <div class="drop_downs">
    </div>
    <div class="dd_category">
      <label for="category_restaurant">Category</label>
      <select id="category_restaurant" name="category">
        <option value="nada">Please choose a category...</option>
        <option value="1">Italian</option>
        <option value="2">Asian</option>
        <option value="3">Middle Eastern</option>
        <option value="4">Comfort food</option>
      </select>
    </div class="dd_neighbourhood">
      <label for="neighbourhood_restaurant">Neighbourhood</label>
      <select id="neighbourhood_restaurant" name="neighbourhood">
        <option value="nada">Please choose a neighbourhood...</option>
        <option value="1">Downtown</option>
        <option value="2">East York</option>
        <option value="3">Parkdale</option>
        <option value="4">Etobicoke</option>
      </select>
    </div>
    <div class="dd_price_range">
      <label for="price_range_restaurant">Price range</label>
      <select id="price_range_restaurant" name="price_range">
        <option value="nada">Please choose a price range...</option>
        <option value="3">High</option>
        <option value="2">Average</option>
        <option value="1">Low</option>
      </select>
    </div>
  </div>
  <div
    <input type="submit">
    <button type="submit">
      <h3>Search!</h3>
    </button>
  </div>
</form>

<hr>
<div>
  <% @my_restaurants.each do |restaurant|%>
    <ul>
      <li>
        <h3><%=restaurant.name%></h3>
        <%= image_tag(restaurant.picture_url) %>
        <h3><%=link_to("#{restaurant.name}","/restaurants/#{restaurant.id}")%></h3>
        <h3><%=restaurant.summary%></h3>
        <h3><%=restaurant.neighbourhood%></h3>
        <h3><%=restaurant.category_id%></h3>
        <h3><%=restaurant.price_range%></h3>
      </li>
      <br>
    </ul>
  <%end%>
</div>
