<h1>Restaurant: <%= @restaurant.name %></h1>


  <li><%= link_to('Back to restaurants index', restaurants_path) %></li>
  <br>
  <li><%= link_to('Delete', restaurant_path, method: :delete) %></li>
  <br>
  <li><%= link_to('Make a reservation', new_restaurant_reservation_path(@restaurant, @reservation)) %></li>

<hr>
<div>
  <p> Description: <%= @restaurant.name %></p>
  <%= image_tag(@restaurant.picture_url) %>

  <p> Summary: <%= @restaurant.summary %></p>
  <%= link_to('Website', "#") %>
  <p> Category: <%= @restaurant.category_id %></p>
  <p> Neighbourhood: <%= @restaurant.neighbourhood_id %></p>
  <p> Price range: <%= @restaurant.price_range %></p>
  <p> Opening hours: <%= @restaurant.opening_hours %></p>
  <p> Closing hours: <%= @restaurant.closing_hours %></p>
  <p> Menu: <%= @restaurant.menu %></p>
  <p> Address: <%= @restaurant.address %></p>
</div>
